body,
input {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding-block: 0;
  padding-inline: 0;
  margin-block: 0;
  margin-inline: 0;
}

@property --percent {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 25%;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.progressBarBlock {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5em;
  gap: 5em;

  & .round {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background: conic-gradient(
      blue var(--percent),
      rgb(230, 230, 230) var(--percent)
    );
    transition: --percent 0.5s;

    & .centerFill {
      width: 100%;
      height: 100%;
      background-color: white;
      border-radius: 50%;
    }

    &.hidden {
      visibility: hidden;
    }

    &.animated {
      animation: rotate360 2s cubic-bezier(0.5, 0.85, 0.7, 0.63) infinite;
    }
  }

  & .controls {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    font-size: 1.3em;
    font-weight: 600;
    gap: 1em;
  }
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 1em;

  & input[type="number"] {
    width: 3.5rem;
    height: 2.5rem;
    border: 2px black solid;
    border-radius: 1.5rem;
    padding: 0.1rem;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    box-sizing: border-box;
  }
}

.slideSwitcher {
  position: relative;
  width: 3.5rem;
  height: 2.5rem;
  appearance: none;

  &::after {
    box-sizing: border-box;
    content: "";
    width: 3.5rem;
    height: 2.5rem;
    border-radius: 1.3rem;
    padding: 0.3rem;
    display: inline-block;
    background-color: rgb(230, 230, 230);
  }

  &:checked::after {
    background-color: blue;
  }

  &::before {
    position: absolute;
    content: "";
    width: 1.9rem;
    height: 1.9rem;
    top: 0.3rem;
    left: 0.3rem;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    transition: left 0.3s ease;
  }

  &:checked::before {
    left: calc(50% - 0.6em);
  }
}

@media screen and (min-width: 640px) {
  .progressBarBlock {
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 20px;
  }

  .inputWrapper {
    & input[type="number"] {
      font-size: 0.8em;
    }
  }
}
@media screen and (min-width: 1280px) {
  body {
    font-size: 22px;
  }
}
